* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
}

// ------------顶部--------------
#header {
    height: 122px;
    font-size: 12px;
    line-height: 29px;
    color: #555;
    .top {
        display: flex;
        margin: 0 auto;
        width: 1190px;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: #555;
        }
        .left {
            display: flex;
            float: left;
            .mobile {
                display: flex;
                align-items: center;
                padding: 0 10px 0 16px;
                .photo {
                    background: url(../img/alibar.png) no-repeat left center;
                    background-position: 0 -112px;
                    width: 13px;
                    height: 29px;
                }
            }
            .nav-title {
                .ins {
                    border-left: 1px solid #ccc;
                    padding: 0 5px 0 11px;
                }
            }
            .login {
                padding: 0 8px 0 16px;
                display: flex;
                align-items: center;
                .packet {
                    background: url(https://img.alicdn.com/tfs/TB1EV4XrAvoK1RjSZPfXXXPKFXa-12-16.png)no-repeat left center;
                    width: 13px;
                    height: 29px;
                }
            }
            .register {
                padding: 0 8px 0 0;
            }
        }
        .right {
            display: flex;
            float: right;
            a {
                border-right: 1px solid #ccc;
                padding: 0 8px 0 7px;
            }
            .cargo {
                .orange {
                    background: url(../img/alibar.png) no-repeat;
                    height: 15px;
                    padding: 0 4px;
                    color: white;
                }
                ;
            }
        }
    }
    .bottom {
        width: 960px;
        height: 92px;
        margin: 0 auto;
        padding: 12px 4px;
        .nav-logo {
            width: 219px;
            height: 58px;
            margin-top: 10px;
            display: block;
            color: #222;
            .left {
                float: left;
                margin-top: 10px;
                border-right: 1px solid #ccc;
                padding: 0 10px 0 0px;
            }
            .right {
                float: right;
                font-size: 22px;
                font-weight: 500;
                margin-top: 14px;
            }
        }
    }
}

// -------------------注册--------------------
.member-steps {
    ul {
        display: flex;
        justify-content: center;
        li {
            width: 170px;
            height: 46px;
            padding: 0 0 0 70px;
        }
        .active-step {}
    }
}

.member-sumary {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}